.navbar-collapse {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.navbar-items {
    display: flex;
    list-style-type: None;
}

.navbar-collapse .navbar-items li {
    display: block;
    margin: 10px;
}

.navbar-collapse .navbar-items li a {
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    font-size: 1.25em;
    color: aliceblue;
    text-transform: uppercase;
}

.navbar-collapse .navbar-items li a:hover {
    color: rgba(255, 255, 255, 0.8);
}


